<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="subject">Tema</label>
    <input
      type="text"
      id="subject"
      name="subject"
      class="form-control"
      ngModel
      required
    />
  </div>

  <div class="form-group">
    <label for="msgText">Mensaje</label>
    <textarea
      id="msgText"
      name="msgText"
      class="form-control"
      rows="3"
      ngModel
      required
    ></textarea>
  </div>

  <div class="form-group">
    <label for="sender">Nombre del Papá</label>
    <input
      type="text"
      id="sender"
      name="sender"
      class="form-control"
      ngModel
      required
    />
  </div>

  <button class="btn btn-success" type="submit">Enviar</button>
  <button class="btn btn-danger" type="button" (click)="f.reset()">Cancelar</button>
</form>




