<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
        Profesionales
        <a href="#" class="btn btn-success btn-sm pull-right">+ Agregar Profesional</a>
        </h3>
    </div>
    <div class="panel-body">
        <div *ngFor="let prof of professionals" class="media">
        <div class="media-left">
            <img [src]="prof.imageUrl" class="media-object" style="width:60px">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ prof.name }}</h4>
            <p>{{ prof.specialty }}</p>
        </div>
        </div>
    </div>
</div>

